/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* All of the types of each element */
body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* For the unordered list inside of the header */
header ul {
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* for the list items within the header element */
header li {
  display: inline-block;
  margin-left: 25px;
}

/* For all of the h1 elements used */
h1 {
  display: inline-block;
  font-size: 48px;
}
/* For all of the h2 elements used */
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* For all of the h3 elements used */
h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* For all of the h4 elements used */
h4 {
  font-size: 20px;
}

/* For all the hyperlinks */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Setting font size for all paragraphs */
p {
  font-size: 16px;
}

/* Background image for the nav is all configured here rather than in the html file */
nav {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Setting up the section area to be structured correctly to fit in the space provided */
section {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Setting up the foundation for all of the articles within the structure */
section article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Restraining images to a max height within section-article elements */
section article img {
  max-height: 200px;
}

/* Setting up to push everything in the aside element to the right side of the page */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Setting up articles within aside elements */
aside article {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Restraining imagines within the aside element */
aside img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Setting up the footer to display correctly on the page */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Class selector used to float text or images to the left */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Class selector used to float text or images to the right */
.float-right {
  float: right;
  margin-left: 25px;
}

/* ID selector used to set the color of the 3 letters within a word */
#seo {
  color: #d9dcd6;
}
